@import "scroll.css";
@import "theme.css";
@import "variables.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--td-text-color-secondary);
  font-family: -apple-system, BlinkMacSystemFont, var(--td-font-family);
  font: var(--td-font-body-medium);
}

a {
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--td-brand-color);
}

.main {
  transition: all 0.3s ease-in-out;
}

.max-w-screen-1430 {
  max-width: 1430px;
}

.t-dialog {
  padding: 20px 24px !important;
}

.card-title .t-card__title {
  font: var(--td-font-title-large);
  font-weight: 400;
}

.t-list-item__meta-description {
  color: var(--td-gray-color-6);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-opacity-75;
  background: var(--td-brand-color) !important;
  background: repeating-linear-gradient(90deg, var(--td-brand-color) 0, var(--td-brand-color) 50%, var(--td-brand-color));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
#nprogress .peg{
  box-shadow: 0 0 10px var(--td-brand-color), 0 0 5px var(--td-brand-color);
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

/* transition fade-slide */
/*.fade-slide-leave-active,*/
/*.fade-slide-enter-active {*/
/*  transition: all 0.3s;*/
/*}*/

/*.fade-slide-enter-from {*/
/*  opacity: 0;*/
/*  transform: translateX(-30px);*/
/*}*/

/*.fade-slide-leave-to {*/
/*  opacity: 0;*/
/*  transform: translateX(30px);*/
/*}*/
@keyframes iconJump {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-3px)
  }

  to {
    transform: translateY(0)
  }
}
